name: tolenaar-toto-prod
services:
  # --- BACKEND (PocketBase) ---
  backend:
    image: ghcr.io/muchobien/pocketbase:0.35.0
    container_name: toto-backend
    restart: unless-stopped
    ports:
      - "8090:8090"
    volumes:
      - ./backend/pb_data:/pb_data
    # This allows the backend to stay in its own network

  # --- FRONTEND (Your UI) ---
  frontend:
    build: 
      context: ./frontend    # This tells Docker to build your custom UI
      args:
        # Docker pulls these straight from your .env file on the NAS
        - VITE_POCKETBASE_URL=${VITE_POCKETBASE_URL}
    container_name: toto-frontend
    restart: unless-stopped
    ports:
      - "3000:80"      # Assuming your UI runs on 3000
    environment:
      - PB_URL=https://pocketbase.millyrazzy.synology.me # The UI "talks" to the backend internally
    volumes:
      # Map your custom config over the default one
      - ./frontend/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - backend          # Ensures backend starts first