
name: Deploy tolenaar-toto
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Copy files via SCP
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.NAS_HOST }}
          username: ${{ secrets.NAS_USERNAME }}
          password: ${{ secrets.NAS_PASSWORD }}
          source: "backend/docker-compose.yml"
          target: "/volume1/docker/tolenaar-toto"

      - name: SSH into NAS and Restart
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.NAS_HOST }}
          username: ${{ secrets.NAS_USERNAME }}
          password: ${{ secrets.NAS_PASSWORD }}
          script: |
            cd /volume1/docker/tolenaar-toto/backend
            # Pull new images and restart the container
            docker compose up -d --remove-orphans