
name: Deploy tolenaar-toto
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    # This tells GitHub to use your NAS container instead of a GitHub-owned server
    runs-on: self-hosted 
    steps:
      - name: Deploy to Local Docker
        run: |
          cd /volume1/docker/tolenaar-toto
          git pull origin main
          docker compose down
          docker compose up -d --build