
name: Deploy tolenaar-toto
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: SSH and Deploy to Synology
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.NAS_HOST }}
          username: ${{ secrets.NAS_USERNAME }}
          password: ${{ secrets.NAS_PASSWORD }}
          script: |
            cd /volume1/docker/tolenaar-toto

            # Pull the latest code directly on the NAS
            # Use the full path to pull your code
            /usr/bin/git pull origin main
            
            # This variable tells Docker NOT to look at containers from other projects
            export COMPOSE_IGNORE_ORPHANS=True
            
            # Build and restart the containers
            # /usr/local/bin/docker compose up -d --build
            /usr/local/bin/docker compose up -d --force-recreate --build

            # This line will tell us if the files actually made it into the container
            echo "--- Checking for files in Nginx ---"
            /usr/local/bin/docker exec toto-frontend ls -R /usr/share/nginx/html

            /usr/local/bin/docker ps --format "table {{.Names}}\t{{.Ports}}\t{{.Status}}"