
name: Deploy tolenaar-toto
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: SSH and Deploy to Synology
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.NAS_HOST }}
          username: ${{ secrets.NAS_USERNAME }}
          password: ${{ secrets.NAS_PASSWORD }}
          script: |
            cd /volume1/docker/tolenaar-toto
            # Pull the latest code directly on the NAS
            git pull origin main
            # Build and restart the containers
            /usr/local/bin/docker compose up -d --build --remove-orphans