
name: Deploy tolenaar-toto
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    # This tells GitHub to use your NAS container instead of a GitHub-owned server
    runs-on: self-hosted 
    steps:
      - name: Fix Git Permissions
        run: git config --global --add safe.directory /volume1/docker/tolenaar-toto

      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy
        run: |
          cd /volume1/docker/tolenaar-toto

          # This forces Docker to rebuild every single step from scratch
          docker compose build --no-cache 
          docker compose up -d --force-recreate